
 
 .side-nav {
    background-color:black;
    overflow:hidden;
    max-width:300px ;
    display:flex;
    height:100vh;
    z-index:auto;
    padding: 10px 20px;
    float:left;
    position:fixed;
    top:0;
    left:0;
    flex-direction:column;
    margin-left: none;
    cursor:pointer;
}


 .side-nav a{
    overflow: hidden;
    color:white;
    display:flex;;
    padding: 20px ;
    gap: 100px;
    text-decoration: none;
    display:flex;
    font-size: 19px;
    font-style: normal;
    
 }
 .side-nav a:hover {
    background-color: #575757; 
    color: #fff; 
    display:flex;
    padding: 10px 20px;
    text-align: center;
} 
.Home{
    
    font-size: small;
}



 

.Home {
    background-color: #f0f0f0; 
    padding: 10px; 
    display: flex;
    justify-content: flex-start; 
    align-items: center; 
}
.searchbtn {
    cursor: pointer;
    background-color: transparent; 
    border: none; 
    padding: 0; 
    display: flex;
    margin-top:10px; 
  width:700px;
   margin-left:1100px;
     border-radius:10px;
    height:30px;
    
}

.searchbtn img {
    width: 20px; 
    height: 20px; 
}
.logo{
    cursor: pointer;
    background-color: transparent; 
    border: none; 
    padding: 0; 
    display: flex; 
    margin-left:1300px;
     border-radius:10px;
    height:30px;
   
    margin-right:50px;
}

  .logo img{
    width: 60px; 
    height: 60px; 
    margin-top:-40px;
   margin-left:-10px;
}
.container{
    margin-top:-40px;
}

.header1 {
    display: flex-start;
    justify-content:center; 
    align-items: center; 
    height: 80px;
    margin-left:300px; 
    cursor: pointer;
   
}
.h1 {
    font-size: medium;
    text-align: center;
   
}
.p{
    display:flex-end;
   justify-content:flex-end;
  
   margin-left:100px;
   margin-bottom:50px;
   cursor: pointer;
   margin-top:20px;
}

.News {
    display:flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
 
   
}

.News img {
    width: 150px; 
    height: auto; 
   cursor: pointer;
   margin-bottom:100px;
   background-color: black;
   margin-right: 700px;
    padding:10px;
   border-radius: 10px;
      
}                       
.WorldNews {
    display:flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
   
   
}

.WorldNews img {
    width: 150px; 
    height: auto; 
   cursor: pointer;
  margin-top:-350px;
   margin-bottom:10px;
   margin-right: 300px;
   background-color: black;
   padding:10px;
   padding:10px;
   border-radius: 10px;
}                       

.FakeNews {
    display:flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
   
   
}

.FakeNews img {
    width: 150px; 
    height: 24vh; 
   cursor: pointer;
   margin-bottom:100px;
   margin-top:-270px;
   margin-left: 100px;
   border-radius: 10px;
   padding:10px;
   background-color: black;
}                      

.SportsNews {
    display:flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
   
   
}

.SportsNews img {
    width: 150px; 
    height: auto; 
   cursor: pointer;
   margin-bottom:100px;
   margin-top:-270px;
   margin-left:500px;
  
   padding:10px;
   background-color: black;
   border-radius: 10px;
}                      
.LiveStream {
    display:flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
   
   
}

.LiveStream img {
    width: 150px; 
    height: auto; 
   cursor: pointer;
   margin-bottom: 100px;
   margin-top:-270px;
   margin-left:900px;
   border-radius: 10px;
   padding:10px;
   background-color: black;
   
   
}                      
.header2 {
    display: flex-start;
    justify-content:center; 
    align-items: center; 
    height:50px;
    margin-left:300px;
    margin-bottom:10px; 
    cursor: pointer;
    color: black;
    margin-bottom:500px;
   margin-top:-100px;
}
.h2 {
    font-size: medium;
    text-align: center;
    
}

















      
    
   
   













  
  
  
  